
.product{
    width: 90%;
    padding:20px;
    border: 10px solid rgb(68, 97, 165);
    border-radius: 20px;
    background-color: rgb(109, 131, 182);
    
    h3 {
        font-size: 30px;
        text-decoration: underline;
    }

    h4 {
        font-size: 15px;
        text-decoration: underline;
    }

    strong {
        font-size: 20px;
    }
    
}   




