
<div class="product" *ngIf="product">
    <h3>Nom du jouet: {{ product.titre }}</h3><br> 
    <h4>Marque du jouet: {{ product.marque }} </h4><br>
    <p>Descriptif: </p>
    <p>{{ product.descriptif }} </p><br>
    <p><strong>Prix: {{ product.prix }} €</strong></p><br>
    <p>Ref: {{ product.reference }}</p><br>
    <button><a>Ajouter au panier</a></button>
    <!-- <button><a routerLink="/productdetails/{{product.id}}">Ajouter au panier</a></button> -->
   
   <!--  -->
</div>