
<div *ngIf="category">
    
    <h3> {{ category.label }} : </h3>
    

    <div class="listproduct" > 
            
        <app-product *ngFor="let product of category.products" [product]="product"></app-product>
              
    </div>

</div>
