<p style="font-size: 20px; font-weight: bold ">
    ici La liste de tous les produit !
</p>

<div class="listproduct" > 
      
      <app-product *ngFor="let product of products" [product]="product" ></app-product>

</div>