.product{
    display: flex;
    flex-direction: column;
          
    border:2px solid black;
    margin:30px;
    padding:10px;
    width: 300px;
    height: 400px;

        h3 {
            display: flex;
        }

        h4 {
            display: flex;
        }

        p {
            display: flex;
        }
        button{
            width:100px;
            height: 30px;
        }
}