
<nav>
  <ul class=categories>
    <a routerLink="/home" routerLinkActive='active'> Home </a>
    <li *ngFor="let category of categories" > 
     
        <a routerLink="/categoriesdetails/{{category.id}}">{{ category.label }}</a>
       
    </li>
  </ul>
</nav>

